{% extends 'base.html' %}
{% block content %}
    <h1 class="mb-4">Crear libro</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" class="form-control">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="editorial">Editorial:</label>
            <input type="text" name="editorial" id="editorial" class="form-control">
        </div>
        <div class="form-group">
            <label for="anio">Año:</label>
            <input type="text" name="anio" id="anio" class="form-control">
        </div>
        <input type="submit" value="Guardar" class="btn btn-primary">
    </form>
{% endblock %}