<style>
    table { 
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #1815a8;
    }
    th {
        background-color: #d5dfe7;
    }
    @media screen and (max-width: 600px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }
        th {
            text-align: center;
        }
        td {
            text-align: center;
            border-bottom: none;
        }
        td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
</style>
{% block content %}
    <h1>Listado de libros</h1>
    <a href="{% url 'crear_libro' %}">Crear libro</a>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Año</th>
                <th>Editorial</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.descripcion }}</td>
                    <td>{{ libro.anio }}</td>
                    <td>{{ libro.editorial }}</td>
                    <td>
                        <a href="{% url 'editar_libro' libro.id %}">Editar</a>
                        <a href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}